#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: Chalkduster;
}

body {
    background-color: lightblue;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}

h1 {
   text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    padding-top: 30px;
}


h6 {
    padding-top: 20px;
}


table {
  border-collapse: separate; 
  border-spacing: 3em 1em; 
  text-align: center;
  border-color: black;
  margin-bottom: 100px;
}


article {
    height: 120px;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer {
    clear: both;
    background-color: darkgray;
    border: 1px solid #dedcd9;
    border-radius: 5px;
    height: 40px;
    width: 960px;
}

footer ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 20px;
}

footer li {
    margin-right: 15px;
    display: inline;
}

footer p {
    text-align: right;
    margin-right: 20px;
    color: #777;
}

