#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: Chalkduster;
}

body {
    background-color: lightblue;
}

header {
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}

h1 {
   text-align: center;   
}


h3 {
    padding-top: 50px;
}


h6 {
    padding-top: 20px;
}


table {
  border-collapse: separate; 
  border-spacing: 3em 1em; 
  text-align: center;
  border-color: black;
  margin-bottom: 80px;
}


.article1 {
    height: 120px;
    margin-top: 50px;
    margin-bottom: 400px;
}



